# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
#export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
#export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# GPG Terminal
export GPG_TTY=`tty`
#
# Add macports to darwin OSes if you don't have brew installed
if [[ "$OSTYPE" =~ ^darwin ]]; then
  if [ ! -f /usr/local/bin/brew ]; then
    export PATH=/opt/local/bin:/opt/local/sbin:$PATH
  fi
fi

# Add the path to go if it's there
if [ -d /usr/local/go ]; then
  export PATH=$PATH:/usr/local/go/bin
fi

# set up a default GOPATH
export GOPATH=$HOME/godev

# Add the default GOPATH to PATH
if [ -d $GOPATH/bin ]; then
  export PATH=$PATH:$GOPATH/bin
fi

# Add local bin dir
export PATH=$HOME/bin:$PATH

# Add startup script for python shell
export PYTHONSTARTUP=$HOME/.pythonrc
